<div class="rounded-lg overflow-hidden border border-neutral-200 dark:border-neutral-800">
    <table class="w-full">
        <!-- Encabezado moderno -->
        <thead>
            <tr class="border-b border-neutral-200 dark:border-neutral-800">
                @for (column of columns(); track $index) {
                <th [class]="tableHeaderBaseClass" [class.text-left]="column.align === 'left' || !column.align"
                    [class.text-center]="column.align === 'center'" [class.text-right]="column.align === 'right'"
                    [class.pl-4]="$index === 0">
                    {{ column.label }}
                </th>
                }
                @if(actions().length > 0){
                <th [class]="tableHeaderBaseClass" [class.pr-2]>
                    Acciones
                </th>
                }
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 dark:divide-neutral-800">
            @for (item of data(); track $index) {
            <tr class="group cursor-pointer bg-white dark:bg-neutral-900 transition-all duration-300 hover:bg-gradient-to-r hover:from-green-50/30 hover:to-green-50/20 dark:hover:from-green-900/20 dark:hover:to-green-800/10"
                (click)="onRowClick(item)">

                @for (column of columns(); track $index) {
                <td class="px-2 py-3" [class.pl-4]="$index === 0">

                    @if (column.type != 'url') {
                    <div class="flex items-center space-x-3">
                        <div>
                            <div class="text-sm font-medium tracking-tight transition-colors duration-200 group-hover:text-green-700 dark:group-hover:text-green-300"
                                [ngClass]="{
                                   'text-neutral-900 dark:text-neutral-100': column.type !== 'text-secondary',
                                   'text-neutral-500 dark:text-neutral-300 font-normal': column.type === 'text-secondary'
                                 }">
                                {{ getNestedValue(item, column.key) }}
                            </div>
                        </div>
                    </div>
                    }
                    @if (column.type === 'url') {
                    <div class="text-sm font-medium tracking-tight text-blue-600 dark:text-blue-400 rounded-md">
                        <span>{{ getNestedValue(item, column.key) }}</span>
                    </div>
                    }
                    <!-- Contenido de URL -->

                </td>
                }
                <!-- Columna de acciones -->
                @if (actions().length>0) {
                <td class="px-2 py-3">
                    <div class="flex items-center justify-center space-x-2">
                        @for (action of actions(); track $index) {
                        <app-button (click)="executeAction(action, item, $event)" [icon]="action.icon" appearance="text"
                            [variant]="actionVariant(action.delete)"></app-button>
                        }
                    </div>
                </td>
                }
            </tr>
            }

            <tr *ngIf="data().length === 0">
                <td [attr.colspan]="columns().length + (actions().length > 0 ? 1 : 0)"
                    class="px-4 py-8 text-center text-sm text-gray-500 dark:text-gray-400">
                    {{ emptyMessage() || 'No hay datos para mostrar' }}
                </td>
            </tr>
        </tbody>
    </table>
</div>