<app-page-body-layout>

    <!-- Header -->
    <div header class="flex flex-col gap-5">
        <app-page-header title="Premios"
            description="Administra los premios disponibles para los sorteos">
            <div actions>
                <app-button [icon]="icons.Plus" (onClick)="openCreateModal()" variant="success" appearance="solid">
                    Nuevo Premio
                </app-button>
            </div>
        </app-page-header>
    </div>

    <!-- Body -->
    <div body class="flex flex-col gap-5 motion-preset-slide-left">
        <app-card [padding]="0">
            <app-card-body>
                <div class="flex flex-col">
                    <!-- Tabla -->
                    <app-award-table
                        (editAward)="openEditModal($event)"
                        (deleteAward)="openDeleteModal($event)">
                    </app-award-table>

                    <!-- Paginación -->
                    <div class="p-5">
                        <app-table-pagination
                            [actualPage]="state.currentPage()"
                            [cantidadPorPagina]="state.pageSize"
                            [totalItems]="state.totalCount()"
                            [loading]="state.isLoading()"
                            itemLabel="Premios"
                            (pageChange)="onPageChange($event)">
                        </app-table-pagination>
                    </div>
                </div>
            </app-card-body>
        </app-card>
    </div>

</app-page-body-layout>

<!-- Modal crear / editar -->
<app-award-form-modal
    [isOpen]="isFormModalOpen"
    [award]="selectedAward()">
</app-award-form-modal>

<!-- Modal eliminar -->
<app-award-delete-modal
    [isOpen]="isDeleteModalOpen"
    [award]="selectedAward()">
</app-award-delete-modal>
