<header
  class="h-16 bg-white dark:bg-blackBG border-b  border-stroke dark:border-neutral-800 flex items-center justify-between px-3 sm:px-4 text-black z-10">
  <div class="flex items-center gap-2 sm:gap-3 flex-1 min-w-0">
    <app-sidebar-toggler></app-sidebar-toggler>

    <app-mobile-logo class="flex items-center sm:hidden flex-shrink-0"></app-mobile-logo>

    <div class="divider divider-vertical dark:border-neutral-800 border-l hidden lg:block flex-shrink-0"></div>


    <div class="items-start justify-start gap-4 hidden lg:flex flex-shrink-0">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>


  <div class="flex items-center flex-shrink-0 gap-2">
    <app-theme-toggler></app-theme-toggler>
    <app-user-action-dropdown></app-user-action-dropdown>
  </div>
</header>