<header
  class="h-16 bg-white dark:bg-blackBG border-b  border-stroke dark:border-neutral-800 flex items-center justify-between px-3 sm:px-4 text-black z-10">
  <div class="flex items-center gap-2 sm:gap-3 flex-1 min-w-0">
    <div class="md:hidden">
      <app-sidebar-toggler></app-sidebar-toggler>
    </div>

    <div class="items-start justify-start gap-4 hidden lg:flex flex-shrink-0">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>


  <div class="flex items-center flex-shrink-0 gap-2">
    <app-user-action-dropdown></app-user-action-dropdown>
  </div>
</header>