<div class="flex items-center gap-4">
    <div class="relative w-full max-w-md">
        <app-input [prefixIcon]="icons.Search" type="search" class="w-full" placeholder="Escriba para buscar por nombre"
            spellcheck="false" autocomplete="off" (input)="onSearchChange($event)">
        </app-input>

        <!-- Indicador de búsqueda cuando está filtrando -->

    </div>
    @if (techState.isFiltering()) {
    <div class="flex">
        <span class="loading-spinner loading size-6 bg-green-500"></span>
    </div>
    }
</div>