<div class="border-y border-gray-200 dark:border-neutral-800 bg-white dark:bg-neutral-900">
    <table class="w-full">
        <!-- Encabezado moderno -->
        <thead>
            <tr class="border-b border-gray-200/60 dark:border-neutral-800">
                @for (header of tableHeaders; track $index) {
                <th class="py-3 px-2 text-left text-sm font-medium text-black dark:text-neutral-100 tracking-tight"
                    [class.pl-4]="$index === 0">
                    {{header}}
                </th>
                }
            </tr>
        </thead>

        <!-- Cuerpo con diseño moderno -->
        <tbody class="divide-y divide-gray-200 dark:divide-neutral-800">
            @for (app of apps; track app.appId; let i = $index) {
            <tr class="group cursor-pointer transition-all duration-300 hover:bg-gradient-to-r hover:from-green-50/30 hover:to-green-50/20 dark:hover:from-green-900/20 dark:hover:to-green-800/10 hover:shadow-sm motion-preset-slide-down motion-duration-300 "
                [routerLink]="['/apps', app.appId]">

                <!-- ID con diseño circular -->
                <td class="pl-4 pr-2 py-3 text-start text-xs text-muted-foreground font-semibold">
                    <div class="flex items-center space-x-3">
                        <div class="flex-1 min-w-0">
                            <div
                                class="text-sm font-medium text-gray-900 dark:text-gray-200 truncate max-w-60 group-hover:text-green-900 dark:group-hover:text-green-300 ">
                                {{ app.appId }}
                            </div>
                        </div>
                    </div>
                </td>

                <!-- Nombre con mejor tipografía -->
                <td class="px-2 py-3 text-sm font-normal text-gray-500 max-w-xs truncate text-start">
                    <div class="flex items-center space-x-3">
                        <div class="flex-1 min-w-0">
                            <div
                                class="text-sm font-medium tracking-tight text-gray-900 dark:text-gray-200 truncate max-w-60 group-hover:text-green-900 dark:group-hover:text-green-300 ">
                                {{ app.nombre }}
                            </div>
                        </div>
                    </div>
                </td>

                <!-- Tipo de tarea -->
                <td
                    class="px-2 py-3 text-sm font-normal text-neutral-600 dark:text-gray-200 max-w-xs truncate tracking-tight text-center">
                    {{ app.descripcion }}
                </td>
                <!-- Tipo de tarea -->
                <td class="px-2 py-4 text-start">
                    <app-badge rounded="full" variant="black" size="small">{{app.tipoAplicacion}}</app-badge>
                </td>

                <!-- Tipo de tarea -->
                <td class="px-2 py-3 text-start">
                    <app-badge rounded="full" appearance="outline" size="small">{{app.tecnologia}}</app-badge>
                </td>

                <!-- Tipo de tarea -->
                <td class="px-2 py-3 text-start text-sm">
                    <div class="flex items-center gap-1">
                        <lucide-icon [img]="icons.Users" class="size-3.5"></lucide-icon>
                        <span>{{app.responsables}}</span>
                    </div>
                </td>

                <!-- Tipo de tarea -->
                <td class="px-2 py-3 text-start text-sm">
                    <div class="flex items-center gap-1">
                        <lucide-icon [img]="icons.Layers" class="size-3.5"></lucide-icon>
                        <span>{{app.ambientes}}</span>
                    </div>
                </td>

                <!-- Estado mejorado -->
                <td class="px-2 py-3 text-start">
                    <app-badge [variant]="app.activa === 0 ? 'success' : 'warning'" appearance="soft" size="small"
                        rounded="full" [icon]="app.activa === 0 ? icons.CircleCheck : icons.TriangleAlert">{{ app.activa
                        === 0 ?
                        'Operativa' :
                        'Detenida'
                        }}</app-badge>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <!-- Estado vacío moderno -->
    @if (apps.length === 0) {
    <div class="py-16 text-center">
        <div class="mx-auto w-16 h-16 bg-gray-100 dark:bg-base-100 rounded-full flex items-center justify-center mb-4">
            <svg class="w-8 h-8 text-gray-400 dark:text-gray-100" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 5H7a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2">
                </path>
            </svg>
        </div>
        <h3 class="text-sm font-medium text-gray-900 mb-1">No hay tareas disponibles</h3>
        <p class="text-sm text-gray-500">Comienza creando tu primera tarea programada</p>
    </div>
    }
</div>