<app-card>
    <app-card-body>
        <div class="flex justify-between items-center">
            <div class="flex flex-col gap-1">
                <span class="font-medium text-sm tracking-tight text-black dark:text-neutral-400">{{title}}</span>
                <div
                    class="text-3xl font-extrabold tracking-tight text-slate-800 dark:text-neutral-100 transition-all duration-300">
                    {{ displayText ? displayText : (displayValue | numberFormat) }}
                </div>
            </div>
            <app-badge [icon]="icon" [iconOnly]="true" [variant]="badgeVariant" size="xl" appearance="soft"></app-badge>
        </div>
    </app-card-body>
</app-card>