<app-button [icon]="icons.Plus" variant="black" tooltip="Nueva Tecnología" (onClick)="openModal()">
    Nueva Tecnología
</app-button>


<app-modal [isOpen]="isModalOpen()" title="Agregar Nueva Tecnología" class="input-banco"
    subtitle="Selecciona un framework o lenguaje de endoflife.date. Las versiones se cargarán automáticamente."
    [showFooter]="true" [disableClose]="isSubmitting()" [loading]="isSubmitting()" loadingText="Guardando"
    [showConfirmButton]="true" confirmText="Agregar Tecnología" cancelText="Cancelar" (onClose)="closeModal()"
    (onConfirm)="handleFormSubmit()">

    <form [formGroup]="envForm" class="flex flex-col gap-4">
        <!-- Nombre del SO -->
        <app-input-wrapper [fullWidth]="true">
            <app-label label="Tecnología" [required]="true"></app-label>
            <app-custom-select [options]="mapToSelectOptions(products())"
                [formControl]="nameControl"></app-custom-select>
            @if (hasError(FormField.Name)) {
            <span class="text-red-500 text-sm mt-1">{{ getErrorMessage(FormField.Name) }}</span>
            }
        </app-input-wrapper>
    </form>
</app-modal>