<app-page-body-layout>
    <div header class="flex flex-col gap-5">
        <div>
            <app-page-header title="Tecnologías"
                description="Administra los frameworks y lenguajes disponibles para tus aplicativos">
                <div actions>
                    <app-tech-create></app-tech-create>
                </div>
            </app-page-header>
        </div>
    </div>
    <div body class="flex flex-col gap-5 motion-preset-slide-left">
        <app-tech-list></app-tech-list>
    </div>
</app-page-body-layout>