<div class="relative flex gap-6">
    <!-- Línea -->
    <div class="absolute left-3 top-0 h-full w-px bg-gray-300 dark:bg-neutral-800"></div>

    <!-- Punto con icono dinámico -->
    <div class="relative z-10 flex size-6 items-center justify-center rounded-full border" [ngClass]="[
            (item.type | timelineEvent).bgColor,
            (item.type | timelineEvent).borderColor
        ]">
        <lucide-icon [img]="(item.type | timelineEvent).icon"
            [class]="'size-4 ' + (item.type | timelineEvent).iconColor">
        </lucide-icon>
    </div>

    <!-- Contenido -->
    <div class="w-full" [ngClass]="{'pb-5': !isLast}">
        <app-card [padding]="4" rounded="lg">
            <app-card-body>
                <div class="flex flex-col gap-2">
                    <div class="flex w-full justify-between">
                        <h3 class="font-semibold tracking-tight text-neutral-950 dark:text-neutral-100">
                            {{ item.title }}
                        </h3>
                        <span class="text-sm text-neutral-500 dark:text-neutral-400">{{ item.date }}</span>
                    </div>
                    <p class="text-sm tracking-tight text-neutral-500 dark:text-neutral-400" *ngIf="item.description">
                        {{ item.description }}
                    </p>
                    @if (item.user) {
                    <div class="w-full border-b border-neutral-200 dark:border-neutral-800"></div>
                    <div class="flex items-center gap-1 text-neutral-500 dark:text-neutral-400">
                        <lucide-icon [img]="icons.User" class="size-4">
                        </lucide-icon>
                        <span class="text-sm tracking-tight">{{ item.user }}</span>
                    </div>
                    }
                </div>
            </app-card-body>
        </app-card>
    </div>
</div>